.card {
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 125px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
     
}

img {
    width: 100%;
    border-radius: 10px;
}

html {
    background-color: #d5e1ef ;
    margin: 40px;
    padding: 24px;
}
.title {
    color: #1f314f;
    font-size: 22px;
    font-family: "outfit bold";
    line-height: 120%;
    letter-spacing: 0%;
}

.text {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-family: "outfit regular";
    color: #68778d
}

